* {
    height: 100%;
    width: 100%;
}

body {
    background-color: darkslategray;
    width: 100vw;
}

main {
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100vw;
}

.artWindow {
    background-image: url("images/DarkVillage.png");
    background-position: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.reset {
    background-color: transparent;
    height: 5vh;
    width: 6vw;
    position:absolute;
    justify-self: left;
    text-align: center;
    font-size: 4vh;
    color: lightgray;
    margin-left: -93vw;
    margin-top: 1vh;
    
}

.storyMessage {
    background-color: black;
    opacity: .7;
    color: white;
    align-self: center;
    text-align: center;
    width: 60vw;
    height: 30vh;
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 5vh;
    
}

.next {
    border: 1px solid black;
    background-color: darkslategrey;
    opacity: 1;
    height: 5vh;
    width: 5vw;
    position: absolute;
    align-self: flex-end;
    justify-self: right;
    font-size: 4vh;
    margin-bottom: 2vh;
    margin-left: 52vw;

}

.controlsWindow {
    background-color: darkslategray;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.controlsWindow > * {
    height: 35vh;
    margin-top: 0;
}

.inventory {
    background-color: gray;
    width: 30%;
}

.inventory > * {
    list-style-type: none;
    font-size: 4vh;
    height: 5vh;
}

.decisions {
    background-color: darkslategray;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.choicesDisplay {
    background-color: black;
    width: 37vw;
    align-self: center;
    color: greenyellow;
    font-size: 3vh;
    
}

.buttons {
    background-color: darkslategray;
    display: flex;
    justify-content: space-around;
    height: 15vh;
}

.button {
    background-color: lightgray;
    height: 8vh;
    width: 7vw;
    text-align: center;
    font-size: 6vh;
}

.notes {
    background-color:gray;
    width: 30%;
}

